[user]
	name = Ramunas
	email = ramunas.peleckas@gmail.com
[core]
	editor = vim
  excludesfile = ~/.gitignore
[push]
  default = simple
[alias]
  aa = add --all
	co = checkout
	br = branch
	cm = commit
	st = status
  g = grep --line-number --heading --break

